<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <p class="todoBody" style="color:red; font-size: larger; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bolder;"><%= mood %> ! It's a <%= kindOfDay %> , Gotta Work.</p>
    <h1 class="todoBody">What to do today? , It's <%= today %> </h1>

    <ul class="todos todoBody">
        <%for(let i = 0; i<todoArray.length;i++){%>
            <li class="todo-items" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><%=todoArray[i]%></li>
        <%}%>
      <!-- <li class="todo-items">one</li>
      <li class="todo-items">one</li>
      <li class="todo-items">one</li> -->
    </ul>

    <form class="todoBody" action="/" method="post">
      <input type="text" name="todo" placeholder="Type In" class="inpTodo" />
      <button class="btnAddTodo" type="submit">+</button>
    </form>
  </body>
</html>
